@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Search for Customer";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Search" method="post">
    <div>
        <label for="id">Enter Customer ID:</label>
        <input type="number" name="id" id="id" />
        <button type="submit">Search</button>
    </div>
</form>
